## 5. Ejercicios PARTE B Iris Setosa

**5.1** Cargue los datos iris en un _data frame (pandas)_ e imprima la descripción d elos datos (columnas y renglones), tipo y las 10 primeras filas de los datos.

In [55]:
import pandas as pd

data = pd.read_csv('.\\EjerciciosIris\\irisH.data')
data2 = pd.read_csv(f'.\\EjerciciosIris\\iris.data')

In [60]:
data = pd.concat([data,data2])

In [61]:
print(data.info())
print("-"*23)

print("First 10 rows:")
print(data.head(10))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  296 non-null    float64
 1   SepalWidth   299 non-null    float64
 2   PetalLength  300 non-null    float64
 3   PetalWidth   298 non-null    float64
 4   Class        300 non-null    object
dtypes: float64(4), object(1)
memory usage: 14.1+ KB
None
-----------------------
First 10 rows:
   SepalLength  SepalWidth  PetalLength  PetalWidth        Class
0          NaN         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa
5          5.4         3.9          1.7         0.4  Iris-setosa
6          4.6         3.4          1.4         0.3  Iris-setosa
7          5.0         3.4          1.5         0.2  Iris-setosa
8          4.4         2.9          1.4         0.2  Iris-setosa
9          4.9         3.1          1.5         0.1  Iris-setosa

**5.2** Imprima las llaves y el número de filas y de columnas.

In [62]:
print("Llaves: "+ str(data.columns.to_list()))

row, cols = data.shape
print("Numero de filas: " + str(row))
print("Numero de columnas: " + str(cols))

Llaves: ['SepalLength', 'SepalWidth', 'PetalLength', 'PetalWidth', 'Class']
Numero de filas: 300
Numero de columnas: 5

**5.3** Imprima el número de muestras faltantes o NaN.

In [65]:
num_nan = data.isna().sum().sum()
print("Numero de muestras faltantes (NaN): "+ str(num_nan))

Numero de muestras faltantes (NaN): 7

**5.4** Cree un arreglo 2-D de tamaño 5x5 con unos en la diagonal y ceros en el resto. Convierta el arreglo NumPy a una matriz dispersa de ScyPy en formato CRS. _Nota: una matriz se considera dispersa cuando el porcentaje de ceros es mayor a 0.5._

In [72]:
import numpy as np

mat = np.zeros(shape=(5,5))
for i in range(0,5):
  for j in range(0,5):
    if i == j : 
      mat[i][j] = 1
    else:
      mat[i][j] = 0
mat

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [80]:
from scipy.sparse import csr_matrix


a = csr_matrix(mat)

print(a)

  (0, 0)	1.0
  (1, 1)	1.0
  (2, 2)	1.0
  (3, 3)	1.0
  (4, 4)	1.0

**5.5** Muestre estadísticas básicas como percentil, media, mínimo, máximo y desviación estándar de los datos. Use _describe_ para ello. Imprima sólo la media y la desviación estándar.

In [94]:
data.describe().loc[['mean','std']]

      SepalLength  SepalWidth  PetalLength  PetalWidth
mean     5.853041    3.052508     3.758667    1.201007
std      0.826914    0.432821     1.761467    0.762041

**5.6** Obtenga el número de muestras para cada clase.

In [98]:
data['Class'].value_counts()

Iris-setosa        100
Iris-versicolor    100
Iris-virginica     100
Name: Class, dtype: int64

**5.7** Añada un encabezado a los datos usando los nombres en `iris.names` y repita el ejercicio anterior.

**5.8** Imprima las diez primeras filas y las dos primeras columnas del _data frame_ usando los índices de las columnas.

In [118]:
data.iloc[:10,:2]

   SepalLength  SepalWidth
0          NaN         3.5
1          4.9         3.0
2          4.7         3.2
3          4.6         3.1
4          5.0         3.6
5          5.4         3.9
6          4.6         3.4
7          5.0         3.4
8          4.4         2.9
9          4.9         3.1